.canvas{
    position: center;
    height:848px;
    width:1696px;
}

body {
    background-color: rgb(255, 237, 224);
  }
  
  .main {
      margin-top: 20px;
      margin-left: 100px;
      margin-right: 100px;
      color: black
    }
  
    .title-text {
      margin-left: 20px;
      padding-top: 20px;
      border-bottom: 3px solid black;
      width: 97%;
      display: block;
    }
  
   .container {
      position: absolute;
      width: 68%;
      height: 154%;
      justify-content: center;
    }
    
    .app-div {
      background-color: rgb(240, 171, 126);
      width: 100%;
      height: 970px;
      border-radius: 33px;
      border: 3px solid rgb(233, 136, 72);
    }
  
  
    .bodyarea-div {
      width: 80%;
      min-height:800px;
      position: absolute;
    }

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
    
    body {
      font-family: helvetica;
    }
    
    a {
      text-decoration: none;
    }
    
    li {
      list-style: none;
    }
  
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: rgb(233, 136, 72);
      color: black;
      position: relative;
      top: 0;
      width: 100%;
    }
    
    .nav-links a {
      color: black;
    }
    
    /* LOGO */
    .logo {
      font-size: 36px;
      font-weight: bold;
    }
    
    /* NAVBAR MENU */
    .menu {
      display: flex;
      gap: 1em;
      font-size: 24px;
      font-weight: bold;
    }
    
    .menu li:hover {
      background-color: rgb(192, 113, 60);
      border-radius: 5px;
      transition: 0.3s ease;
    }
    
    .menu li {
      padding: 5px 14px;
    }
    